<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-icon name="person-circle-outline" class="icon"></ion-icon>
    <form  [formGroup]="loginForm" class="custom-form">
      <ion-input
        class="input"
        formControlName="correo"
        type="email"
        fill="solid"
        label="correo"
        labelPlacement="floating"
        ngModel
        email
      ></ion-input>
      <ion-input
        class="input"
        formControlName="contrasenia"
        type="password"
        fill="solid"
        label="Contraseña"
        labelPlacement="floating"
      ></ion-input>
      <ion-button fill="outline" class="button" (click)="onLogin()">Ingresar</ion-button>
      <a class="link" href="/registro">¿Aun no tienes cuenta?, Registrate aquí</a>
    </form>
  </div>
</ion-content>