<ion-content [fullscreen]="true">

  <app-menu></app-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-button (click)="goBack()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title *ngIf="farmacia">{{farmacia.nombre_farmacia}}</ion-title> 
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" >
      <app-medicamentos></app-medicamentos>
    </ion-content>
  </div>
</ion-content>
